.env
/target
**/target/**
**node_modules/**
**.DS_store
/boil/hello-world/
/boil/my-hello-world/
.!*
assets/.!*
**assets/\.!*
**assets/\.!*/**
**.swp
**.swo
**mesodb_history.txt
**ipynb_checkpoints**
data/
.mesodb
*.idx
